.text-bold {
  font-weight: bold !important;
}

.cke_combo_button {
  padding-top: 4px !important;
  padding-bottom: 2px !important;
}

.dropdown-menu.actions li .fa {
  width: 16px;
  text-align: center;
}